PermitRootLogin prohibit-password
PasswordAuthentication no
ChallengeResponseAuthentication no

AllowAgentForwarding no
X11Forwarding no

AcceptEnv LANG LC_*

HostKey /etc/ssh/ssh_host_rsa_key

Protocol 2
PermitUserEnvironment yes
